@charset "UTF-8";
/* Tablettes */
/* Smartphones écrans larges */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #232323;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 100px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 30px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__logo {
  height: 45px;
}

.header__logo img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 20px;
  }
  .header__logo {
    height: 20px;
  }
}

.hero {
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.hero__content {
  padding: 0 65px;
  grid-column: span 5;
  background-color: #232323;
  color: #FFFFFF;
  position: relative;
  min-width: 520px;
}

.hero__content__headline {
  font-size: 96px;
  font-weight: 500;
  line-height: 125px;
  white-space: nowrap;
  margin: 65px 0;
}

.hero__content__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 65px;
}

.hero > .btn--signup {
  display: none;
}

.hero__img {
  grid-column: span 7;
}

.hero__img img {
  height: 105%;
  display: block;
}

@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    display: block;
    box-shadow: unset;
  }
  .hero__content {
    padding: 0;
    background: #FFFFFF;
    color: #232323;
    min-width: auto;
  }
  .hero__content .btn--signup {
    display: none;
  }
  .hero__content__headline {
    font-size: 40px;
    line-height: 52px;
    white-space: normal;
    margin: 0 0 20px 0;
  }
  .hero__content__text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
  }
  .hero > .btn--signup {
    display: block;
  }
  .hero__img img {
    border-radius: 10px;
    margin: 35px 0;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 413px) {
  .hero__content__headline {
    font-size: 28px;
    line-height: 38px;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  margin: 10% auto;
  width: 540px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  color: #FFFFFF;
  background: #232323;
  border-radius: 10px;
  position: relative;
  /* for close button */
}

.modal.confirmation {
  height: 800px;
}

.modal.confirmation .modal__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal.confirmation .hero-text {
  text-align: center;
  align-self: center;
  margin-top: auto;
  width: 300px;
  font-size: 36px;
}

.modal.confirmation .btn--close {
  margin-top: auto;
}

.modal__body {
  padding: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .modal {
    width: 100%;
    margin-top: 90px;
  }
  .modal__body {
    padding: 30px;
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #FFFFFF;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 100px;
  color: #FE142F;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
  }
}

@media screen and (max-width: 413px) {
  .footer {
    font-size: 13px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.nav a {
  color: #232323;
  background-color: #FFFFFF;
  font-weight: 500;
  padding: 9px 12px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 15px;
}

.nav a.hamburger {
  display: none;
  color: #FE142F;
  font-size: 20px;
  position: relative;
  left: 12px;
}

.nav a:hover, .nav a.active {
  background-color: #FE142F;
  color: #FFFFFF;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    position: relative;
  }
  .nav a.hamburger {
    display: block;
  }
  .nav a {
    display: none;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
  }
  .nav__content {
    position: absolute;
    width: max-content;
    top: 50px;
    right: 0;
    z-index: 10;
  }
}

.btn {
  display: block;
  min-width: 180px;
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  color: #FFFFFF;
  background-color: #FE142F;
  margin: 0;
  padding: 11px 30px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}

.btn--signup {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 140px;
    font-size: 14px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn:hover {
  background: #279E7A;
}

.form {
  display: flex;
  flex-direction: column;
}

.form .formData {
  margin-bottom: 13px;
}

.form .formData[data-error]::after {
  content: attr(data-error);
  width: 100%;
  font-size: 12px;
  color: #FE142F;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  transition: 0.3s;
}

.form .formData[data-error-visible="true"]::after {
  opacity: 1;
}

.form .formData[data-error-visible="true"] .form__inputText {
  border: 2px solid #FE142F;
}

.form__label {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  padding-bottom: 17px;
  /* Boutons radio */
  /* Cases à cocher */
}

.form__label--location {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  margin-right: 25px;
  padding: 0;
}

.form__label--checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .form__label {
    padding-bottom: 10px;
  }
  .form__label--location {
    margin-right: 9px;
  }
}

.form__inputText {
  width: 100%;
  height: 65px;
  padding: 10px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .form__inputText {
    height: 50px;
  }
}

.form__inputRadio, .form__inputCheckbox {
  display: none;
}

.form .location {
  display: flex;
  flex-wrap: wrap;
}

.form__inputRadioIcon {
  width: 25px;
  height: 25px;
  margin-right: 6px;
  border: 1px solid #279E7A;
  border-radius: 50%;
  transition: 0.3s;
}

.form__inputRadioIcon::after {
  display: block;
  content: "";
  width: 17px;
  height: 17px;
  margin: 3px;
  background-color: #279E7A;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .form__inputRadioIcon {
    width: 20px;
    height: 20px;
  }
  .form__inputRadioIcon::after {
    width: 12px;
    height: 12px;
  }
}

.form__inputCheckboxIcon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  border-radius: 6px;
  background-color: #C4C4C4;
}

.form__inputCheckboxIcon::after {
  display: block;
  content: "";
  width: 8px;
  height: 3px;
  margin: 7px;
  transition: 0.3s;
  opacity: 0;
  border: 2px solid transparent;
  border-bottom-color: #FFFFFF;
  border-left-color: #FFFFFF;
  transform: rotate(-50deg);
}

@media screen and (max-width: 768px) {
  .form__inputCheckboxIcon {
    width: 20px;
    height: 20px;
  }
  .form__inputCheckboxIcon::after {
    width: 6px;
    height: 2px;
    margin: 5px;
  }
}

.form__inputRadio:checked + .form__label--location .form__inputRadioIcon::after,
.form__inputCheckbox:checked + .form__label--checkbox .form__inputCheckboxIcon::after {
  opacity: 1;
}

.form__inputCheckbox:checked + .form__label--checkbox .form__inputCheckboxIcon {
  background: #279e7a;
}
/*# sourceMappingURL=main.css.map */