@charset "UTF-8";
/* Tablettes */
/* Smartphones écrans larges */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #232323;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 100px;
}

@media screen and (max-width: 768px) {
  body {
    padding: 30px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__logo {
  height: 45px;
}

.header__logo img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 20px;
  }
  .header__logo {
    height: 20px;
  }
}

.hero {
  height: 650px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.hero__content {
  padding: 0 65px;
  grid-column: span 5;
  background-color: #232323;
  color: #FFFFFF;
  position: relative;
  min-width: 520px;
}

.hero__content__headline {
  font-size: 96px;
  font-weight: 500;
  line-height: 125px;
  white-space: nowrap;
  margin: 65px 0;
}

.hero__content__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 65px;
}

.hero > .btn-signup {
  display: none;
}

.hero__img {
  grid-column: span 7;
}

.hero__img img {
  height: 105%;
  display: block;
}

@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    display: block;
    box-shadow: unset;
  }
  .hero__content {
    padding: 0;
    background: #FFFFFF;
    color: #232323;
    min-width: auto;
  }
  .hero__content .btn-signup {
    display: none;
  }
  .hero__content__headline {
    font-size: 40px;
    line-height: 52px;
    white-space: normal;
    margin: 0 0 20px 0;
  }
  .hero__content__text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
  }
  .hero > .btn-signup {
    display: block;
  }
  .hero__img img {
    border-radius: 10px;
    margin: 35px 0;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 413px) {
  .hero__content__headline {
    font-size: 28px;
    line-height: 38px;
  }
}

.footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 100px;
  color: #FE142F;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 413px) {
  .footer {
    font-size: 13px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.nav a {
  color: #232323;
  background-color: #FFFFFF;
  font-weight: 500;
  padding: 9px 12px;
  margin: 0 5px;
  text-decoration: none;
  border-radius: 15px;
}

.nav a.hamburger {
  display: none;
  color: #FE142F;
  font-size: 20px;
  position: relative;
  left: 12px;
}

.nav a:hover, .nav a.active {
  background-color: #FE142F;
  color: #FFFFFF;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    position: relative;
  }
  .nav a.hamburger {
    display: block;
  }
  .nav a {
    display: none;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
  }
  .nav__content {
    position: absolute;
    width: max-content;
    top: 50px;
    right: 0;
    z-index: 10;
  }
}

.btn {
  display: block;
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #FFFFFF;
  background-color: #FE142F;
  margin: 0;
  padding: 11px 30px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn--center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 140px;
    font-size: 14px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn:hover {
  background: #3876ac;
}
/*# sourceMappingURL=main.css.map */