$color-primary:   #232323;
$color-secondary: #FE142F;
$color-tertiary:  #3876ac; // button on hover
$color-white:     #FFFFFF;

$font-default: 'DM Sans', sans-serif;
$font-slab: 'Roboto', sans-serif;

$modal-duration: 0.8s;

$desktop-breakpoint: 1440px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 413px;